addict==2.2.1
coverage==7.6.10
funcsigs==1.0.2
http-parser==0.9.0
mock==5.1.0
pbr==1.10.0
py==1.11.0
pytest==8.3.4
pytest-cov==6.0.0
pytest-mock==3.14.0
pytest-randomly==3.16.0
pytest-runner==6.0.1
six==1.17.0
kazoo==2.7.0